# Docker
# Build a Docker image
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- main


pool:
  vmImage: ubuntu-latest

variables:
  ImageName: 'dockerraigo276/test_pipeline:$(Build.BuildId)'

stages:
- stage: Build
  displayName: Build image
  jobs:
  - job: DockerImage
    displayName: Build and push Docker image
    steps:
    - task: Docker@1
      inputs:
        containerregistrytype: 'Container Registry'
        dockerRegistryEndpoint: 'dockerhub_raigo276'
        command: 'Build an image'
        Dockerfile: '**/Dockerfile'
        imageName: '$(ImageName)'
        includeLatestTag: true
        useDefaultContext: false
        buildContext: '.'
        
    - task: Docker@1
      displayName: 'Push the Docker image to Dockerhub'
      inputs:
         containerregistrytype: 'Container Registry'
         dockerRegistryEndpoint: 'dockerhub_raigo276'
         command: 'Push an image'
         imageName: '$(ImageName)'    
         
- stage: tag
  displayName: "Create git Tag"
  jobs:
    - job: tag
      steps:
        - checkout: self
          persistCredentials: true
        - task: tagBuildOrRelease@0
          displayName: 'Add Tag to git'
          inputs:    
            type: 'Build'
            tags: 'TEST-$(Build.BuildNumber)'
